Flask==3.0.0
google-generativeai==0.3.2
beautifulsoup4==4.12.3
email-validator==2.1.0.post1
dkimpy==1.1.5
spf==2.0.2
gunicorn==21.2.0
python-dotenv==1.0.1
dnspython==2.5.0
cryptography==42.0.1
pyspf==2.0.14